/* GLOBAL */
body{
    background-color: #a6bdb7;
    
}

/* NAVBAR */
nav{
    width:100%;
    color: turquoise;
}
#name, 
#navbarlinks, 
.nav-item,
.about{
    color: turquoise;
}

#name{
    font-size: 22px;
    text-decoration: none;
}

/*CONTENT*/
.container{
    background-color: #e5f8fa;
}

.about-me{
    margin-top: 20px;
}

#sugar{
    height: 250px;
    width: 250px;
    ima 
}


imgwrapper,
.weld{
    width: 100%;
}

.one{
    background: url(images/cat.jpg);
    height: 250px;
    width: 250px;
    
}

#wordguess,
#rpg,
#trivia,
#rutgers,
#rock{
    width: 250px;
    text-align: center;
    
    
}

.two{
    background: url(images/cat.jpg);
    height: 250px;
    width: 250px;
}

.three{
    background: url(images/cat.jpg);
    height: 250px;
    width: 250px;
}

.four{
    background: url(images/cat.jpg);
    height: 250px;
    width: 250px;
}

.five{
    background: url(images/cat.jpg);
    height: 250px;
    width: 250px;
}

.footer{
    position: static;
}